
#search-inp {
    width: 30vh;
    height: 50px;
}
  
.search-btn {
    font-size: 16px !important;
    width: 85px;
}

#nav-container {
    width: 80%;
}
  
@media (max-width: 1600px) {
    #nav-container {
        width: 100%;
    }

    #account-dropdown {
        left: -100px !important;
    }
}

@media (max-width: 1500px) and (min-width: 1301px) {
    #search-inp {
        width: 24vh;
    }
}

@media (max-width: 1300px) and (min-width: 1101px) {
    .disappear {
        font-size: 0;
    }

    #search-inp {
        width: 20vh;
    }
}

@media (max-width: 1100px) and (min-width: 991px) {
    .disappear {
        font-size: 0;
    }

    #search-inp {
        width: 14vh;
    }
}

/* navbar collapse */
@media (max-width: 990px) and (min-width: 769px){
    #search-inp {
        width: 50vh;
    }
    #nav-links {
        margin-top: 30px;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    #search-inp {
        width: 35vh;
    }

    #nav-links {
        margin-top: 30px;
    }
}

@media (max-width: 480px)  {
    #search-inp {
        width: 30vh;
    }

    #nav-links {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .search-btn {
        top: -8px;
    }
}