html,
body {
  height: 100vh;
  background-color: #f0f0f0;
  transition: all 3ms;
}

.carousel {
  width: 100%;
  height: 30vh;
  max-height: 300px;
}

#floating-cart {
  width: 75px;
  position: fixed;
  margin-left: 0;
  top: 3px;
  right: 3px;
  z-index: 99999;
  white-space: nowrap;
  text-align: center;
}

#footer {
  background-color: #404040 !important;
}

.main-navbar {
  background-color: #282828 !important;
}

.nav-category {
  background-color: #404040 !important;
}

.nav-category .navbar-brand {
  color: #FFEA09;
}

.yellow-btn {
  color: #282828;
  background-color: #FFEA09;
}

.product-list-img img {
  height: 225px;
  width: auto;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media (max-width: 1280px) {
  .product-list-img img {
    height: 180px;
    max-width: 192px;
  }
}

.product-img {
  max-height: 420px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  transition: all 0.3s;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/*
    SIDE BAR KATEGORIE
*/

#sidebar {
  min-width: 300px;
  max-width: 350px;
  background: #404040;
  color: #fff;
  transition: all 0.3s;
  margin-right: 10px;
  max-height: 1200px;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  color: #FFEA09;
  background: #383838;
}

#sidebar .sidebar-header h3 {
  font-weight: bold;
}

#sidebar ul.components {
  padding: 20px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #282828;
  background: #FFEA09;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebarCollapse {
  display: none;
}

@media (max-width: 768px) {

  #sidebar {
    margin-left: -275px;
    display: none;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse {
    display: block;
  }
}