<nav class="navbar navbar-expand-lg navbar-dark nav-category mt-3 mb-5">

    <!-- Navbar brand -->
    <span class="navbar-brand">{{ category.name }}</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Wszystko
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% for subcategory in subcategories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
            </li>
        {% endfor %}
      </ul>
      <!-- Links -->
    </div>
    <!-- Collapsible content -->

  </nav>