{% extends 'pages/base.html' %}

{% block content %}

{% load cart_template_tags %}


<!-- Floating cart -->
{% if user.is_authenticated %}
<div id="floating-cart" class="card waves-effect d-lg-none">
  <a href="{% url 'pages:order-summary' %}" class="card-body">
    <p class="card-text">
      {% if request.user|cart_item_count != 0 %}
        <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
      {% endif %}
      <i class="fas fa-shopping-cart"></i>
    </p>
  </a>
</div>
{% endif %}

<main>
    <div class="container">
      {%  include "pages/category_bar.html" %}

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

          <!--Grid row-->
          <div class="row wow fadeIn">
            {% for item in products %}
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

              <!--Product Card-->
                {%  include "pages/product_card.html" %}
              <!--Product Card-->

            </div>
            <!--Grid column-->
            {% endfor %}


          </div>
          <!--Grid row-->

        </section>
        <!--Section: Products v.3-->

    </div>
  </main>
  <!--Main layout-->

{% endblock content %}