<nav class="navbar navbar-expand-lg navbar-dark nav-category mt-3 mb-5">

    <!-- Navbar brand -->
    <span class="navbar-brand">Kategorie</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Wszystko
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Części</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Płyny</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Usługi</a>
        </li>

      </ul>
      <!-- Links -->
      {% url 'pages:sales' as sales %}
      {% if request.path != sales %}
      <form class="form-inline" method="POST" action={% url 'pages:search-products' %}>
        {% csrf_token %}
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Szukaj" aria-label="Szukaj" name="searched">
          <button class="btn search-btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      {% endif %}
    </div>
    <!-- Collapsible content -->

  </nav>