{% extends 'pages/base.html' %}


{% block content %}
    <div class="container dark-grey-text">
        <div class="my-5 text-center"><h1 class="font-weight-bold">Kontakt z naszymi placówkami</h1></div>

        <nav class="navbar navbar-expand-lg navbar-dark nav-category mb-5">

            <div class="collapse navbar-collapse" id="basicExampleNav">
                <span class="navbar-brand">Znajdź placówkę</span>
            </div>

            <form class="form-inline" method="POST" action={% url 'pages:search-points' %}>
                {% csrf_token %}
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Wpisz miasto" aria-label="Szukaj"
                           name="searched">
                    <button class="btn yellow-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

        </nav>

        {% for point in szik_points %}
            <hr></hr>
            <div class="mt-5">
                <h2 class="d-inline-block">{{ point.city }} {{ point.postal_code }} {{ point.street_address }}</h2>
                <p class="ml-3 d-inline-block" style="font-size: 20px">telefon: {{ point.telephone }}</p>
            </div>

            <div class="mt-1">

                <div class="col-lg-6 mb-4 text-center">
                    <div class="card product-card">
                        <div class="card-body">
                            {% if point.photo %}
                                <img src="{{ point.photo.url }}" class="img-fluid product-img" alt="">
                            {% else %}
                                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png"
                                     class="img-fluid" alt="">
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}