{% extends 'pages/base.html' %}

{% load static %}

{% block content %}

{% load cart_template_tags %}

{%  include "pages/special_offer.html" %}

<!-- Floating cart -->
{% if user.is_authenticated %}
<div id="floating-cart" class="card waves-effect d-lg-none">
  <a href="{% url 'pages:order-summary' %}" class="card-body">
    <p class="card-text">
      {% if request.user|cart_item_count != 0 %}
        <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
      {% endif %}
      <i class="fas fa-shopping-cart"></i>
    </p>
  </a>
</div>
{% endif %}

<main>
  <div class="container">
    {%  include "pages/filter_bar.html" %}
  </div>
  <div class="wrapper mx-auto" id="main-wrapper">

    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Kategorie</h3>
      </div>
    
      <ul class="list-unstyled components" id="category-list">
        <li>
          <a class="category-name" name="">Wszystko</a>
        </li>
        {% for item in categories %}
        <li>
          <a class="category-name" name="{{ item.pk }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="page-content-wrapper">
      <div class="container" id="content">
        <!--Section: Products v.3-->
        <section class="text-center mb-4">
  
            <!--Grid row-->
            <div class="row wow fadeIn">
              {% for item in filter.qs %}
              <!--Grid column-->
              <div class="col-xl-3 col-lg-6 col-md-12 mb-4 product-col">
                <!--Product Card-->
                {%  include "pages/product_card.html" %}
                <!--Product Card-->
              </div>
              <!--Grid column-->
              {% endfor %}

            </div>
            <!--Grid row-->
  
          </section>
          <!--Section: Products v.3-->
  
      </div>
    </div>
  </div>
</main>
  <!--Main layout-->

{% endblock content %}