{% extends 'pages/base.html' %}

{% block content %}

<main>
    <div class= "container">
        <div class="table-responsive text-nowrap">
    <h3>
        <strong>Koszyk</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena za sztukę</th>
            <th scope="col">Ilość</th>
            <th scope="col">Całkowita cena</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.products.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.product.name }}</td>
            <td>
            {% if order_item.product.discountPrice %}
                <del>{{ order_item.product.price }} zł</del>
                {{ order_item.product.discountPrice }}  zł
            {% else %}
                {{ order_item.product.price }}  zł
            {% endif %}

            </td>
            <td>
                <a href="{% url 'pages:reduce-quantity-item' order_item.product.pk %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'pages:add-to-cart' order_item.product.pk %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.product.discountPrice %}
                {{ order_item.get_discount_item_price }} zł
                <span class="badge badge-success" >Oszczędzasz {{ order_item.get_amount_saved }} zł</span>
            {% else %}
                {{ order_item.get_total_item_price}} zł
            {% endif %}
             <a href="{% url 'pages:remove-from-cart' order_item.product.pk %}">
                <i class="fas fa-trash float-right text-danger"></i>
             </a>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Twój koszyk jest pusty</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Kontynuuj zakupy</a>
            </td>
        </tr>

        {% endfor %}

        {% if object.get_total_price %}
        <tr>
            <td colspan="4"><b>Łączna cena zamówienia</b></td>
            <td>{{ object.get_total_price }} zł</td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="{% url 'pages:checkout' %}" class="btn btn-warning float-right ml-2">Wybierz dostawę i płatność</a>
                <a href="/" class="btn btn-primary float-right">Kontynuuj zakupy</a>
            </td>
        </tr>
        
        {% endif %}
        
        </tbody>
    </table>

        </div>
    </div>
</main>

{% endblock content %}