  <div class="card h-100">
    <!--Card image-->
    <div class="view overlay product-list-img d-flex align-items-center">
      {% if item.image %}
      <img src="{% url 'db_file_storage.get_file' %}?name={{ item.image }}" class="img-fluid card-img-top" alt="">
      {% else %}
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png" class="card-img-top" alt="">
      {% endif %}
      <a href="{{ item.get_absolute_url }}">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      {% if not hide_category_on_product_cards %}
      <a href="{{ item.category.get_absolute_url }}" class="grey-text" >
        {{ item.get_category_display }}
      </a>
      {% endif %}
      <strong>
        <a href="{{ item.get_absolute_url }}" class="dark-grey-text text-break text-wrap">{{ item.name }}</a>
      </strong>

      <h5 class="font-weight-bold blue-text">
        <strong>
        {% if item.discount %}
          <span class="mr-1"><del>{{ item.price }} zł</del></span>
          <span>{{ item.get_discount_price }} zł</span>
        {% else %}
          <span>{{ item.price }} zł</span>
        {% endif %}
        </strong>
      </h5>
    </div>
    <!--Card content-->

  </div>