{% extends 'pages/base.html' %}

{% block content %}


<main>
    <button id="getPosButton" onclick="getLocation()">Znajdź najbliższą placówkę</button>
    <div id="outer">
      <div id="mapid" style="margin: auto; width: 70%; height: 500px;"></div>
    </div>

</main>

<script>
  let x = document.getElementById("outer");
  function getLocation() {
      if (navigator.geolocation){
          navigator.geolocation.getCurrentPosition(showUserPosition);
          document.getElementById("getPosButton").style.display = "none";
      } else{
          x.innerHTML = "Twoja przeglądarka nie obsługuje geolokacji, zalecamy jej zmianę.";
      }
  }
  function showUserPosition(position){
      let latitude = position.coords.latitude;
      let longitude = position.coords.longitude;

      var map = L.map('mapid').setView([latitude, longitude], 9);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      const greenIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

      L.marker([latitude, longitude], {icon: greenIcon}).addTo(map)
          .bindPopup('<strong>Tutaj jesteś</strong>')
          .openPopup();
      fetch('get-nearest-shop/' + latitude + '/' + longitude)
      .then(response => {return response.json()})
      .then(res => {
          console.log(res);
          L.marker([res['mapLatitude'], res['mapLongitude']]).addTo(map)
          .bindPopup(res['city'])
          .openPopup();
      })
      .catch(err => console.error(err));
  }
</script>


{% endblock content %}