{% extends 'pages/base.html' %}

{% block content %}



<main>

    <div id="outer">
      <div id="mapid" style="margin: auto; width: 70%; height: 500px;"></div>

    </div>


  </main>
  <!--Main layout-->

<script>
  let map = L.map('mapid').setView([50.03, 22.01], 9);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  {% for shop in object_list %}
  L.marker([{{shop.mapLatitude}}, {{shop.mapLongitude}}]).addTo(map)
      .bindPopup('{{shop}}<br>Numer telefonu: {{shop.telephone}}')
      .openPopup();
  {% endfor %}
</script>

{% endblock content %}