{% extends 'pages/base.html' %}

{% block content %}



<main>

    <div id="outer">
      <div id="mapid" style="display: inline-block; width: 80%; height: 600px; margin: 0 auto;"></div>

    </div>


  </main>
  <!--Main layout-->

<script>
  var map = L.map('mapid').setView([50.038955, 22.017469], 9);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker([49.673742, 21.776152]).addTo(map)
      .bindPopup('<strong>Warsztat w Krośnie</strong><br>Godziny otwarcia:<br> 8:00-16:00')
      .openPopup();
  L.marker([50.038955, 22.017469]).addTo(map)
      .bindPopup('<strong>Sklep w Rzeszowie</strong><br>Godziny otwarcia:<br> 7:00-21:00')
      .openPopup();
</script>

{% endblock content %}