{% extends 'pages/base.html' %}

{% load i18n %}

{% block content %}

    {% if products %}
        <style>
            .comparsion-product-img {
            max-height: 200px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            }

            .product-card {
                height: 225px;
                width: 275px;
            }
        </style>

        <div class="container">

            <h2>
                Porównanie produktów z kategorii {{ category.name }}
            </h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>

                        <tr>
                            <td>
                                Zdjęcie
                            </td>

                            {% for product in products %}
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        {% block product_logo %}
                                            <div class="card product-card p-3">
                                            {% if product.image %}
                                                <img src="{% url 'db_file_storage.get_file' %}?name={{ product.image }}" class="img-fluid h-100 comparsion-product-img" alt="{{ product.name }}">
                                            {% else %}
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png" class="img-fluid comparsion-product-img" alt="{{ product.name }}">
                                            {% endif %}
                                            </div>
                                        {% endblock %}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td>
                                Nazwa produktu
                            </td>

                            {% for product in products %}
                                <td>
                                    {% block product_name %}
                                        <a href="{{ product.get_absolute_url }}">
                                            {{ product.name }}
                                        </a>
                                    {% endblock %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td>
                                Działania
                            </td>

                            {% for product in products %}
                                <td>
                                    {% block actions %}
                                        <form method="post"
                                              action="{% url 'comparison:remove' product.id  %}"
                                              class="pull-left">
                                            <input type="hidden" name="next" value="{{ request.get_full_path }}">

                                            <button type="submit"
                                                    class="btn btn-danger btn-md m-r-10"
                                                    title="Usuń produkt z porównania">
                                                    Usuń z porównania
                                            </button>
                                        </form>
                                    {% endblock %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td>
                                Cena
                            </td>

                            {% for product in products %}
                                <td>
                                    {% block product_price %}
                                        <b>{{ product.get_discount_price }} zł</b>
                                    {% endblock %}
                                </td>
                            {% endfor %}
                        </tr>

                        {% block attributes %}
                            {% for name, list in attributes.items %}
                                <tr>
                                    <td>
                                        {{ name }}
                                    </td>

                                    {% for value in list %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endblock %}

                    </tbody>
                </table>
            </div>

        </div>
    {% else %}
        <div class="container alert alert-info">
            Nie znaleziono produktów.
            <a href="{% url 'pages:home' %}">
                Wróć do strony głównej
            </a>
        </div>
    {% endif %}
{% endblock %}

